In [72]:
import pandas as pd

In [73]:
ice_cream = ["chocolate", "vanilla", "strawberry", "passionfruit"]
pd.Series(ice_cream)

0       chocolate
1         vanilla
2      strawberry
3    passionfruit
dtype: object

In [74]:
lottery_numbers = [4, 8, 15, 16, 23, 42]
pd.Series(lottery_numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [75]:
registrations = [True, False, False, True]
pd.Series(registrations)

0     True
1    False
2    False
3     True
dtype: bool

In [76]:
sushi = {
        "salmon": "orange",
         "tuna": "red",
         "eel": "brown"
}

pd.Series(sushi)

salmon    orange
tuna         red
eel        brown
dtype: object

In [77]:
prices = pd.Series([2.99, 4.45, 1.36])
prices

0    2.99
1    4.45
2    1.36
dtype: float64

In [78]:
prices.sum()

np.float64(8.8)

In [79]:
prices.product()

np.float64(18.095480000000006)

In [80]:
prices.mean()

np.float64(2.9333333333333336)

In [81]:
prices.std()

np.float64(1.5457791994115246)

In [82]:
adjectives = pd.Series(["smart", "handsome", "charming", "brilliant", "humble", "smart"])
adjectives

0        smart
1     handsome
2     charming
3    brilliant
4       humble
5        smart
dtype: object

In [83]:
adjectives.size

6

In [84]:
adjectives.is_unique

False

In [85]:
adjectives.values

array(['smart', 'handsome', 'charming', 'brilliant', 'humble', 'smart'],
      dtype=object)

In [86]:
adjectives.index

RangeIndex(start=0, stop=6, step=1)

In [87]:
type(adjectives.values)

numpy.ndarray

In [88]:
type(adjectives.index)

pandas.core.indexes.range.RangeIndex

In [89]:
fruits = ["apple", "orange", "plum", "grape", "blueberry", "watermelon"]
weekdays = ["monday", "tuesday", "wednesday", "thursday", "friday", "monday"]

In [90]:
pd.Series(fruits)

0         apple
1        orange
2          plum
3         grape
4     blueberry
5    watermelon
dtype: object

In [91]:
pd.Series(weekdays)

0       monday
1      tuesday
2    wednesday
3     thursday
4       friday
5       monday
dtype: object

In [92]:
pd.Series(fruits, weekdays)

monday            apple
tuesday          orange
wednesday          plum
thursday          grape
friday        blueberry
monday       watermelon
dtype: object

In [93]:
pd.Series(data=fruits, index=weekdays)

monday            apple
tuesday          orange
wednesday          plum
thursday          grape
friday        blueberry
monday       watermelon
dtype: object

In [94]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
pokemon

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [95]:
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")
google

0         2.490664
1         2.515820
2         2.758411
3         2.770615
4         2.614201
           ...
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, Length: 4793, dtype: float64

In [96]:
len(pokemon)
type(pokemon)
list(pokemon)
sorted(pokemon)
type(sorted(pokemon))
dict(pokemon)
max(pokemon)
min(pokemon)

'Abomasnow'

In [97]:
"Bulbasaur" in pokemon
0 in pokemon

True

In [98]:
"Bulbasaur" in pokemon.values

True

In [99]:
google.sort_values()

10        2.470490
0         2.490664
13        2.509095
11        2.514326
1         2.515820
           ...
4341    150.000000
4336    150.000000
4346    150.141754
4345    151.000000
4395    151.863495
Name: Price, Length: 4793, dtype: float64

In [100]:
google.sort_values(ascending=False)

4395    151.863495
4345    151.000000
4346    150.141754
4341    150.000000
4336    150.000000
           ...
12        2.515820
11        2.514326
13        2.509095
0         2.490664
10        2.470490
Name: Price, Length: 4793, dtype: float64

In [101]:
pokemon.sort_values()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Name, Length: 1010, dtype: object

In [102]:
pokemon.sort_values(ascending=False)

717      Zygarde
633     Zweilous
40         Zubat
569        Zorua
570      Zoroark
         ...
680    Aegislash
616     Accelgor
358        Absol
62          Abra
459    Abomasnow
Name: Name, Length: 1010, dtype: object

In [103]:
pokemon2 = pd.read_csv("pokemon.csv", index_col="Name").squeeze("columns")
pokemon2

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [104]:
pokemon2.sort_index()

Name
Abomasnow        Grass, Ice
Abra                Psychic
Absol                  Dark
Accelgor                Bug
Aegislash      Steel, Ghost
                  ...
Zoroark                Dark
Zorua                  Dark
Zubat        Poison, Flying
Zweilous       Dark, Dragon
Zygarde      Dragon, Ground
Name: Type, Length: 1010, dtype: object

In [105]:
pokemon2.sort_index(ascending=False)

Name
Zygarde      Dragon, Ground
Zweilous       Dark, Dragon
Zubat        Poison, Flying
Zorua                  Dark
Zoroark                Dark
                  ...
Aegislash      Steel, Ghost
Accelgor                Bug
Absol                  Dark
Abra                Psychic
Abomasnow        Grass, Ice
Name: Type, Length: 1010, dtype: object

In [106]:
pokemon.iloc[0]

'Bulbasaur'

In [107]:
pokemon.iloc[[12, 45, 77, 103, 112]]

12       Weedle
45        Paras
77     Rapidash
103      Cubone
112     Chansey
Name: Name, dtype: object

In [108]:
pokemon.iloc[27:36]
pokemon.iloc[:9]
pokemon.iloc[0:2]

0    Bulbasaur
1      Ivysaur
Name: Name, dtype: object

In [109]:
pokemon2.loc["Bulbasaur"]

'Grass, Poison'

In [110]:
pokemon2.loc["Mewtwo"]

'Psychic'

In [111]:
pokemon2.loc[["Charizard", "Jolteon", "Meowth"]]

Name
Charizard    Fire, Flying
Jolteon          Electric
Meowth             Normal
Name: Type, dtype: object

In [112]:
pokemon2.get("Moltres")

'Fire, Flying'

In [113]:
pokemon.get("Moltres", "Non-Existent")

'Non-Existent'

In [114]:
pokemon2.get(["Moltres", "Mewtwo"])

Name
Moltres    Fire, Flying
Mewtwo          Psychic
Name: Type, dtype: object

In [115]:
pokemon2.get(["Moltres", "Digimon"], "nonexistent")

'nonexistent'

In [116]:
type(pokemon.get)

method

In [117]:
pokemon.iloc[0]

'Bulbasaur'

In [118]:
pokemon.iloc[0] = "Borisaur"

In [119]:
pokemon.head()

0      Borisaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [120]:
pokemon.iloc[[1, 2, 4]] = ["Ivorysaur", "Venussaur", "Charrrrr"]

In [121]:
pokemon.head()

0      Borisaur
1     Ivorysaur
2     Venussaur
3    Charmander
4      Charrrrr
Name: Name, dtype: object

In [122]:
pokemon2

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [123]:
pokemon2.loc["Bulbasaur"]

'Grass, Poison'

In [124]:
pokemon2.loc["Bulbasaur"] = "Awesomeness"

In [125]:
pokemon2

Name
Bulbasaur            Awesomeness
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [126]:
pokemon.iloc[1] = "Silly"

In [127]:
pokemon

0           Borisaur
1              Silly
2          Venussaur
3         Charmander
4           Charrrrr
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [128]:
pokemon_df = pd.read_csv("pokemon.csv", usecols=["Name"])
pokemon_df

              Name
0        Bulbasaur
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
...            ...
1005  Iron Valiant
1006      Koraidon
1007      Miraidon
1008  Walking Wake
1009   Iron Leaves

[1010 rows x 1 columns]

In [129]:
pokemon_series = pokemon_df.squeeze("columns")

In [130]:
pokemon_df

              Name
0        Bulbasaur
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
...            ...
1005  Iron Valiant
1006      Koraidon
1007      Miraidon
1008  Walking Wake
1009   Iron Leaves

[1010 rows x 1 columns]

In [131]:
pokemon_series[0] = "Whatever"
pokemon_series.head()

0      Whatever
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [132]:
pokemon_series

0           Whatever
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [133]:
second_copy = pokemon_series.copy(deep=False)

In [134]:
second_copy[1] = "Test"

In [135]:
second_copy

0           Whatever
1               Test
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [136]:
pokemon_series

0           Whatever
1               Test
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [137]:
third_copy = pokemon_series.copy(deep=True)

In [138]:
third_copy[2] = "Different"

In [139]:
third_copy

0           Whatever
1               Test
2          Different
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [140]:
pokemon_series

0           Whatever
1               Test
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [141]:
google.count()
google.sum()
google.product()
google.mean()
google.std()
google.min()
google.max()
google.median()
google.mode()
google.describe()

C:\Users\kaike\AppData\Local\Programs\Python\Python313\Lib\site-packages\numpy\_core\_methods.py:56: RuntimeWarning: overflow encountered in reduce
  return umr_prod(a, axis, dtype, out, keepdims, initial, where)

count    4793.000000
mean       40.211377
std        37.274753
min         2.470490
25%        12.767395
50%        26.327717
75%        56.311001
max       151.863495
Name: Price, dtype: float64

In [142]:
google.add(10)
google.sub(10)
google.mul(10)
google.div(10)

0        0.249066
1        0.251582
2        0.275841
3        0.277061
4        0.261420
          ...
4788    13.208000
4789    13.299800
4790    13.557001
4791    13.705000
4792    13.842999
Name: Price, Length: 4793, dtype: float64

In [148]:
pokemon2.value_counts()
pokemon2.value_counts(ascending=False)
pokemon2.value_counts(normalize=True)

Type
Water               0.073267
Normal              0.073267
Grass               0.045545
Psychic             0.038614
Fire                0.035644
                      ...
Fighting, Ice       0.000990
Fire, Dragon        0.000990
Normal, Dragon      0.000990
Psychic, Steel      0.000990
Fighting, Dragon    0.000990
Name: proportion, Length: 201, dtype: float64

In [150]:
s = pd.Series(['A', 'B', 'A', 'C', 'B', 'A'])
print(s.value_counts())

A    3
B    2
C    1
Name: count, dtype: int64

In [158]:
pokemon.apply(len)
def count_a(pokemon):
    return pokemon.count("a")
pokemon.apply(count_a)

0       2
1       1
2       1
3       2
4       1
       ..
1005    2
1006    1
1007    1
1008    2
1009    1
Name: Name, Length: 1010, dtype: int64

In [160]:
w = pd.Series(['A', 'b', 'C'])

In [166]:
w.apply(len)
def count_A(w):
    return w.count("A")
w.apply(count_A)

0    1
1    0
2    0
dtype: int64

In [167]:
pokemon2

Name
Bulbasaur            Awesomeness
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [168]:
pokemon2["Bulbasaur"] = "Grass, Poison"

In [169]:
pokemon2

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [172]:
attack_powers = pd.Series({
    "Grass": 10,
    "Fire": 15,
    "Water": 15,
    "Fairy": 10,
    "Fighting": 50
})

attack_powers

Grass       10
Fire        15
Water       15
Fairy       10
Fighting    50
dtype: int64

In [174]:
y = pd.Series([1, 2, 3, 4, 5])

In [178]:
def quadrado(x):
    return x**2
y_quadrado = y.map(quadrado)
print(y_quadrado)

0     1
1     4
2     9
3    16
4    25
dtype: int64