In [1]:
import pandas as pd

In [3]:
employees = pd.read_csv("employees.csv")

In [4]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   First Name         933 non-null    object
 1   Gender             855 non-null    object
 2   Start Date         1000 non-null   object
 3   Last Login Time    1000 non-null   object
 4   Salary             1000 non-null   int64
 5   Bonus %            1000 non-null   float64
 6   Senior Management  933 non-null    object
 7   Team               957 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [11]:
employees["Start Date"] = pd.to_datetime(employees["Start Date"], format = "%m/%d/%Y")

In [16]:
employees["Last Login Time"] = pd.to_datetime(employees["Last Login Time"], format = "%H:%M %p").dt.time

In [18]:
employees["Senior Management"] = employees["Senior Management"].astype(bool)

In [19]:
employees["Gender"] = employees["Gender"].astype("category")

In [21]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   First Name         933 non-null    object
 1   Gender             855 non-null    category
 2   Start Date         1000 non-null   datetime64[ns]
 3   Last Login Time    1000 non-null   object
 4   Salary             1000 non-null   int64
 5   Bonus %            1000 non-null   float64
 6   Senior Management  1000 non-null   bool
 7   Team               957 non-null    object
dtypes: bool(1), category(1), datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 49.1+ KB

In [22]:
employees = pd.read_csv("employees.csv", parse_dates = ["Start Date"], date_format = "%m/%d/%Y")