In [1]:
import pandas as pd

In [2]:
big_mac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], date_format = "%Y-%m-%d", index_col = ["Date", "Country"]).sort_index()
big_mac.head()

                      Price in US Dollars
Date       Country
2000-04-01 Argentina             2.500000
           Australia             1.541667
           Brazil                1.648045
           Britain               3.002000
           Canada                1.938776

In [3]:
# big_mac.set_index(keys = ["Date", "Country"])
# big_mac.set_index(keys = ["Country", "Date"]).sort_index()

big_mac.index.names
big_mac.index[0]

(Timestamp('2000-04-01 00:00:00'), 'Argentina')

In [4]:
big_mac.index.get_level_values("Date")
big_mac.index.get_level_values(0)

big_mac.index.get_level_values("Country")
big_mac.index.get_level_values(1)

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Czech Republic', 'Denmark', 'Euro area',
       ...
       'Sweden', 'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'Ukraine',
       'United Arab Emirates', 'United States', 'Uruguay', 'Vietnam'],
      dtype='object', name='Country', length=1386)

In [10]:
big_mac.index.set_names(names = "Time", level = 0)
big_mac.index.set_names(names = "Location", level = 1)
big_mac.index.set_names(names = ["Time", "Location"])

big_mac.index = big_mac.index.set_names(names = ["Time", "Location"])

In [11]:
big_mac

                                 Price in US Dollars
Time       Location
2000-04-01 Argentina                        2.500000
           Australia                        1.541667
           Brazil                           1.648045
           Britain                          3.002000
           Canada                           1.938776
...                                              ...
2020-07-01 Ukraine                          2.174714
           United Arab Emirates             4.015846
           United States                    5.710000
           Uruguay                          4.327418
           Vietnam                          2.847282

[1386 rows x 1 columns]