In [1]:
import pandas as pd

In [2]:
big_mac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], date_format = "%Y-%m-%d", index_col = ["Date", "Country"]).sort_index()
big_mac.head()

                      Price in US Dollars
Date       Country
2000-04-01 Argentina             2.500000
           Australia             1.541667
           Brazil                1.648045
           Britain               3.002000
           Canada                1.938776

In [3]:
# big_mac.set_index(keys = ["Date", "Country"])
# big_mac.set_index(keys = ["Country", "Date"]).sort_index()

big_mac.index.names
big_mac.index[0]

(Timestamp('2000-04-01 00:00:00'), 'Argentina')

In [4]:
big_mac.index.get_level_values("Date")
big_mac.index.get_level_values(0)

big_mac.index.get_level_values("Country")
big_mac.index.get_level_values(1)

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Czech Republic', 'Denmark', 'Euro area',
       ...
       'Sweden', 'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'Ukraine',
       'United Arab Emirates', 'United States', 'Uruguay', 'Vietnam'],
      dtype='object', name='Country', length=1386)

In [5]:
big_mac.index.set_names(names = "Time", level = 0)
big_mac.index.set_names(names = "Location", level = 1)
big_mac.index.set_names(names = ["Time", "Location"])

big_mac.index = big_mac.index.set_names(names = ["Time", "Location"])

In [6]:
big_mac.sort_index()
big_mac.sort_index(ascending = True)
big_mac.sort_index(ascending = False)

big_mac.sort_index(ascending = [True, False])
big_mac.sort_index(ascending = [False, True])

                          Price in US Dollars
Time       Location
2020-07-01 Argentina                 3.509232
           Australia                 4.578450
           Azerbaijan                2.324897
           Bahrain                   3.713035
           Brazil                    3.913528
...                                       ...
2000-04-01 Sweden                    2.714932
           Switzerland               3.470588
           Taiwan                    2.287582
           Thailand                  1.447368
           United States             2.510000

[1386 rows x 1 columns]

In [7]:
big_mac.iloc[2]

Price in US Dollars    1.648045
Name: (2000-04-01 00:00:00, Brazil), dtype: float64

In [8]:
big_mac.loc["2000-04-01"]
big_mac.loc["2000-04-01", "Canada"]
big_mac.loc["2000-04-01", "Price in US Dollars"]

big_mac.loc[("2000-04-01", "Canada")]

start = ("2000-04-01", "Hungary")
end = ("2000-04-01", "Poland")
big_mac.loc[("2000-04-01", "Hungary"): ("2000-04-01", "Poland")]
big_mac.loc[start: end]

big_mac.loc[("2019-07-09", "Hungary"):]

big_mac.loc[("2012-01-01", "Brazil"): ("2013-07-01", "Turkey")]

big_mac.loc[("2012-01-01", "Brazil"): ("2013-07-01", "Turkey"), "Price in US Dollars"]

Time        Location
2012-01-01  Brazil         5.678670
            Britain        3.823395
            Canada         4.632940
            Chile          4.050983
            China          2.438445
                             ...
2013-07-01  Sweden         6.156874
            Switzerland    6.719041
            Taiwan         2.630834
            Thailand       2.845723
            Turkey         4.342384
Name: Price in US Dollars, Length: 160, dtype: float64

In [10]:
start = ("2018-01-01", "China")
end = ("2018-01-01", "Denmark")

big_mac.loc[start:end].transpose()

Time                2018-01-01
Location                 China  Colombia Costa Rica Czech Republic  Denmark
Price in US Dollars   3.171642  3.832468   4.027932       3.807779  4.93202

In [22]:
world_stats = pd.read_csv("worldstats.csv", index_col = ["year", "country"]).sort_index().stack()
world_stats.head()

year  country
1960  Afghanistan  Population    8.994793e+06
                   GDP           5.377778e+08
      Algeria      Population    1.112489e+07
                   GDP           2.723638e+09
      Australia    Population    1.027648e+07
dtype: float64

In [21]:
# world_stats.stack()
# world_stats.stack().to_frame()

                                        0
year country
1960 Afghanistan Population  8.994793e+06
                 GDP         5.377778e+08
     Algeria     Population  1.112489e+07
                 GDP         2.723638e+09
     Australia   Population  1.027648e+07
...                                   ...
2015 World       GDP         7.343364e+13
     Zambia      Population  1.621177e+07
                 GDP         2.120156e+10
     Zimbabwe    Population  1.560275e+07
                 GDP         1.389294e+10

[22422 rows x 1 columns]

In [34]:
world_stats.unstack()
world_stats.unstack().columns
world_stats.unstack().unstack().columns

world_stats.unstack(level = 0)
world_stats.unstack(level = 'year')
world_stats.unstack(level = 1)
world_stats.unstack(level = 'country')
world_stats.unstack(level = 2)

world_stats.unstack(level = -3)

world_stats.unstack([1, 0])
world_stats.unstack([0, 1])

year                1960                                            \
country      Afghanistan       Algeria     Australia       Austria
Population  8.994793e+06  1.112489e+07  1.027648e+07  7.047539e+06
GDP         5.377778e+08  2.723638e+09  1.856759e+10  6.592694e+09

year                                                                \
country     Bahamas, The    Bangladesh       Belgium        Belize
Population  1.095260e+05  4.820070e+07  9.153489e+06  9.206800e+04
GDP         1.698023e+08  4.274894e+09  1.165872e+10  2.807248e+07

year                                    ...           2015                \
country            Benin       Bermuda  ... United Kingdom United States
Population  2.431620e+06  4.440000e+04  ...   6.513823e+07  3.214188e+08
GDP         2.261956e+08  8.446665e+07  ...   2.848755e+12  1.794700e+13

year                                                                      \
country    Upper middle income       Uruguay    Uzbekistan       Vietnam
Population        2.550326e+09  3.431555e+06  3.129950e+07  9.170380e+07
GDP               1.973288e+13  5.344270e+10  6.673280e+10  1.935994e+11

year
country    West Bank and Gaza         World        Zambia      Zimbabwe
Population       4.422143e+06  7.346633e+09  1.621177e+07  1.560275e+07
GDP              1.267740e+10  7.343364e+13  2.120156e+10  1.389294e+10

[2 rows x 11211 columns]