In [1]:
import pandas as pd

In [2]:
foods = pd.read_csv("restaurant_foods.csv")
costumers = pd.read_csv("restaurant_customers.csv")

week1 = pd.read_csv("restaurant_week_1_sales.csv")
week2 = pd.read_csv("restaurant_week_2_sales.csv")

In [3]:
pd.concat([week1, week2], ignore_index = True).sort_index()
pd.concat([week1, week2], keys = ["Week 1", "Week 2"])

            Customer ID  Food ID
Week 1 0            537        9
       1             97        4
       2            658        1
       3            202        2
       4            155        9
...                 ...      ...
Week 2 245          783       10
       246          556       10
       247          547        9
       248          252        9
       249          249        6

[500 rows x 2 columns]

In [4]:
df1 = pd.DataFrame([1, 2, 3], columns = ["A"])
df2 = pd.DataFrame([4, 5, 6], columns = ["B"])

In [5]:
pd.concat([df1, df2], axis = "columns")

   A  B
0  1  4
1  2  5
2  3  6

In [8]:
week1.merge(foods, how = "left", on = "Food ID")

     Customer ID  Food ID   Food Item  Price
0            537        9       Donut   0.99
1             97        4  Quesadilla   4.25
2            658        1       Sushi   3.99
3            202        2     Burrito   9.99
4            155        9       Donut   0.99
..           ...      ...         ...    ...
245          413        9       Donut   0.99
246          926        6       Pasta  13.99
247          134        3        Taco   2.99
248          396        6       Pasta  13.99
249          535       10       Drink   1.75

[250 rows x 4 columns]