In [1]:
import pandas as pd
import datetime as dt

In [2]:
someday = dt.date(2025, 12, 15)

someday.year
someday.month
someday.day

15

In [3]:
dt.datetime(2025, 12, 15)
dt.datetime(2025, 12, 15, 8)
dt.datetime(2025, 12, 15, 8, 35)
dt.datetime(2025, 12, 15, 8, 35, 20)

sometime = dt.datetime(2025, 12, 15, 8, 35, 20)
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second

20

In [4]:
pd.Timestamp(2025, 4, 5)
pd.Timestamp(2025, 4, 5, 18)
pd.Timestamp(2025, 4, 5, 18, 23)
pd.Timestamp(2025, 4, 5, 18, 23, 45)
pd.Timestamp(dt.datetime(2025, 12, 4, 14, 35, 26))
pd.Timestamp("2025-01-01")
pd.Timestamp("2025/01/01")

pd.Series([pd.Timestamp("2025/01/01")]).iloc[0]

pd.DatetimeIndex(["2025-01-02", "2025-02-03"])
index = pd.DatetimeIndex([
    dt.date(2025, 7, 10),
    dt.date(2024, 7, 10)
])

index[0]

Timestamp('2025-07-10 00:00:00')

In [5]:
pd.date_range(start = "2025-01-01", end = "2025-01-07")
pd.date_range(start = "2025-01-01", end = "2025-01-07", freq = "D")
pd.date_range(start = "2025-01-01", end = "2025-01-07", freq = "2D")
pd.date_range(start = "2025-01-01", end = "2025-01-07", freq = "B")
pd.date_range(start = "2025-01-01", end = "2025-01-31", freq = "W")
pd.date_range(start = "2025-01-01", end = "2025-01-31", freq = "W-FRI")
pd.date_range(start = "2025-01-01", end = "2025-01-31", freq = "W-THU")

pd.date_range(start = "2025-01-01", end = "2025-01-31", freq = "H")
pd.date_range(start = "2025-01-01", end = "2025-01-31", freq = "6H")
pd.date_range(start = "2025-01-01", end = "2025-12-31", freq = "M")
pd.date_range(start = "2025-01-01", end = "2026-01-31", freq = "A")

pd.date_range(start = "2025-01-01", freq = "D", periods = 25)

pd.date_range(end = "2013-01-01", freq = "D", periods = 20)

C:\Users\kaike\AppData\Local\Temp\ipykernel_9208\1802617663.py:9: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  pd.date_range(start = "2025-01-01", end = "2025-01-31", freq = "H")
C:\Users\kaike\AppData\Local\Temp\ipykernel_9208\1802617663.py:10: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  pd.date_range(start = "2025-01-01", end = "2025-01-31", freq = "6H")
C:\Users\kaike\AppData\Local\Temp\ipykernel_9208\1802617663.py:11: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  pd.date_range(start = "2025-01-01", end = "2025-12-31", freq = "M")
C:\Users\kaike\AppData\Local\Temp\ipykernel_9208\1802617663.py:12: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  pd.date_range(start = "2025-01-01", end = "2026-01-31", freq = "A")

DatetimeIndex(['2012-12-13', '2012-12-14', '2012-12-15', '2012-12-16',
               '2012-12-17', '2012-12-18', '2012-12-19', '2012-12-20',
               '2012-12-21', '2012-12-22', '2012-12-23', '2012-12-24',
               '2012-12-25', '2012-12-26', '2012-12-27', '2012-12-28',
               '2012-12-29', '2012-12-30', '2012-12-31', '2013-01-01'],
              dtype='datetime64[ns]', freq='D')

In [24]:
pd.date_range(start = "2000-01-01", end = "2020-12-31", freq = "24D 3H")
bunch_of_dates = pd.Series(pd.date_range(start = "2000-01-01", end = "2020-12-31", freq = "24D 3H"))

bunch_of_dates.dt.day
bunch_of_dates.dt.month
bunch_of_dates.dt.year
bunch_of_dates.dt.hour

bunch_of_dates.dt.day_of_year
bunch_of_dates.dt.day_name()

bunch_of_dates.dt.is_month_end
bunch_of_dates.dt.is_month_start

bunch_of_dates.dt.is_quarter_start
bunch_of_dates.dt.is_quarter_end

C:\Users\kaike\AppData\Local\Temp\ipykernel_9208\1253359825.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  pd.date_range(start = "2000-01-01", end = "2020-12-31", freq = "24D 3H")
C:\Users\kaike\AppData\Local\Temp\ipykernel_9208\1253359825.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  bunch_of_dates = pd.Series(pd.date_range(start = "2000-01-01", end = "2020-12-31", freq = "24D 3H"))

0      False
1      False
2      False
3      False
4      False
       ...
313    False
314    False
315    False
316    False
317    False
Length: 318, dtype: bool

In [44]:
stocks = pd.read_csv("ibm.csv", parse_dates = ["Date"], index_col = "Date").sort_index()

stocks.loc["2014-03-04"]
stocks.loc[pd.Timestamp(2014, 3, 4)]
stocks.loc["2014-03-04":"2014-05-12"]
stocks.loc[pd.Timestamp(2014, 3, 4):pd.Timestamp(2014, 5, 12)]

               Open     High      Low    Close        Volume
Date
2014-03-04  128.870  129.827  128.802  129.329  6.825202e+06
2014-03-05  129.407  130.344  129.319  129.807  5.027617e+06
2014-03-06  129.963  130.676  129.631  130.159  5.503611e+06
2014-03-07  130.676  131.047  129.837  130.198  5.936539e+06
2014-03-10  130.090  130.666  128.890  129.309  6.623102e+06
2014-03-11  129.993  130.734  129.037  129.525  6.097799e+06
2014-03-12  129.017  130.022  128.919  129.183  6.967816e+06
2014-03-13  129.319  129.700  127.426  127.553  7.083224e+06
2014-03-14  127.543  127.836  126.392  126.392  7.915232e+06
2014-03-17  126.694  129.271  126.694  128.870  7.120048e+06
2014-03-18  128.997  130.324  128.714  129.563  5.710911e+06
2014-03-19  128.744  129.505  127.309  128.128  6.233533e+06
2014-03-20  127.953  130.598  127.738  130.324  7.298635e+06
2014-03-21  130.764  130.890  129.319  129.485  1.807173e+07
2014-03-24  130.012  131.398  129.963  130.588  8.273005e+06
2014-03-25  130.949  135.536  130.890  135.302  1.573250e+07
2014-03-26  135.253  135.702  133.154  133.594  9.877880e+06
2014-03-27  133.126  133.633  131.320  131.691  9.756713e+06
2014-03-28  131.739  133.594  131.164  132.111  7.488667e+06
2014-03-31  132.930  134.404  132.754  133.526  1.230852e+07
2014-04-01  133.945  135.331  133.721  134.902  7.777031e+06
2014-04-02  134.716  134.902  133.526  134.247  7.098878e+06
2014-04-03  134.004  134.141  133.418  133.652  5.897953e+06
2014-04-04  133.945  134.579  132.676  133.038  8.781003e+06
2014-04-07  132.988  135.468  132.872  134.921  9.722861e+06
2014-04-08  134.511  134.687  133.652  134.072  7.385319e+06
2014-04-09  134.521  136.649  134.287  136.415  7.905454e+06
2014-04-10  136.004  138.180  135.722  135.731  1.214661e+07
2014-04-11  135.302  136.649  134.745  135.380  6.970598e+06
2014-04-14  136.083  137.508  135.888  137.195  7.832744e+06
2014-04-15  135.956  136.912  135.556  136.669  7.717509e+06
2014-04-16  137.361  137.848  135.272  136.229  1.228170e+07
2014-04-17  129.895  132.296  129.709  131.799  1.622611e+07
2014-04-21  131.671  133.740  131.633  133.389  7.820860e+06
2014-04-22  133.116  133.867  132.638  133.282  5.591657e+06
2014-04-23  133.038  133.467  131.867  132.998  6.828470e+06
2014-04-24  133.320  133.350  131.808  131.935  6.353945e+06
2014-04-25  132.179  132.267  131.164  131.535  5.581141e+06
2014-04-28  132.589  134.579  132.199  133.955  8.127771e+06
2014-04-29  134.287  135.926  134.169  135.331  6.669591e+06
2014-04-30  135.175  136.551  134.804  136.278  6.064787e+06
2014-05-01  136.141  136.473  133.965  134.238  5.299320e+06
2014-05-02  134.219  134.473  132.667  132.774  4.401131e+06
2014-05-05  132.511  132.804  131.671  132.667  3.203632e+06
2014-05-06  132.433  132.442  131.261  131.808  4.596626e+06
2014-05-07  132.130  132.754  130.402  132.071  5.476762e+06
2014-05-08  131.945  132.960  131.330  131.799  3.485766e+06
2014-05-09  131.857  132.980  131.417  132.628  3.241795e+06
2014-05-12  133.350  134.658  133.204  134.345  5.414253e+06

In [67]:
stocks.index + pd.DateOffset(days = 5)
stocks.index - pd.DateOffset(days = 5)
stocks.index + pd.DateOffset(days = 5, months = 3)
stocks.index - pd.DateOffset(days = 5, months = 3)
stocks.index + pd.DateOffset(days = 5, months = 3, years = 2)
stocks.index - pd.DateOffset(days = 5, months = 3, years = 2)

birthdays = pd.date_range(start = "1991-04-22", end = "2023-04-12", freq = pd.DateOffset(years = 1))
stocks.index.isin(birthdays)

array([False, False, False, ..., False, False, False], shape=(15546,))

In [72]:
stocks.index + pd.tseries.offsets.MonthEnd()
stocks.index - pd.tseries.offsets.MonthEnd()

stocks.index + pd.tseries.offsets.QuarterEnd()
stocks.index + pd.tseries.offsets.QuarterBegin()

DatetimeIndex(['1962-03-01', '1962-03-01', '1962-03-01', '1962-03-01',
               '1962-03-01', '1962-03-01', '1962-03-01', '1962-03-01',
               '1962-03-01', '1962-03-01',
               ...
               '2023-12-01', '2023-12-01', '2023-12-01', '2023-12-01',
               '2023-12-01', '2023-12-01', '2023-12-01', '2023-12-01',
               '2023-12-01', '2023-12-01'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)