In [1]:
import pandas as pd

In [3]:
frutas = {'Nomes': ['Maçã', 'Uva', 'Melão', 'Melancia', 'Morango', 'Tangerina'],
          'Região de Origem': ['Ásia Central', 'Oriente Médio', 'Sudoeste da Ásia', 'Nordeste da África', 'Europa', 'Sudeste da Ásia']}
df = pd.DataFrame(frutas)

In [10]:
origem_asiática = df["Região de Origem"].str.contains("Ásia")
df[origem_asiática]

       Nomes  Região de Origem
0       Maçã      Ásia Central
2      Melão  Sudoeste da Ásia
5  Tangerina   Sudeste da Ásia

In [13]:
começam_com_M = df["Nomes"].str.startswith("M")
df[começam_com_M]

      Nomes    Região de Origem
0      Maçã        Ásia Central
2     Melão    Sudoeste da Ásia
3  Melancia  Nordeste da África
4   Morango              Europa

In [17]:
terminam_com_a = df["Nomes"].str.endswith("a")
df[terminam_com_a]

       Nomes    Região de Origem
1        Uva       Oriente Médio
3   Melancia  Nordeste da África
5  Tangerina     Sudeste da Ásia

Index(['Nomes', 'Região de Origem'], dtype='object')